.footer {
    position: fixed;
    min-height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #343a40;
  }
  
  .copy {
    text-align: center;
    font-size: 12pt;
   margin-left: 50px;
    color: #99aeba;
  }
/* 
  .gitHub {
    bottom: 0;
    left: 0;
    right: 0;
    color: #99aeba;
  } */
  .gitHub a{
    /* position: absolute ; */
    text-align: right;
    font-size: 18pt;
    /* bottom: 0;
    left: 200px;
    right: 0; */
    text-decoration: none;
    margin-left: 400px;
    margin-top: 10px;
    color: #99aeba;
  }